html {
  height: 100vh !important;
  width: 100vw !important;
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100% !important;
    width: 100% !important;
    background:rgb(25, 26, 26);
  }

  :root {
    --main-bg-color: rgb(34,37,41)
  }

  .menu a {
    display: flex;
    padding-left:20px;
 }
  ::-webkit-scrollbar {
    background-color: var( --main-bg-color);
  }

  
  ::-webkit-scrollbar-thumb {
    background: var(--main-bg-color);
  }
  
  ::-webkit-scrollbar-corner {
    background: var(--main-bg-color);
  }

  .mapboxgl-popup {
      z-index: 999;
  }
  .mapboxgl-marker  {
    z-index: 0;
  }

  .leaflet-container {
    height: 100vh;
    width: 100%;
  }

  .aff + div {
    width: 100% !important;
  }

  .LOL {
    width: 100%;
  }

  .list {
    height: calc(100vh - 3px);
    display: flex;
    flex-direction:column;
    background: rgb(34,37,41);
    align-self: end;
  }

  .tracker-flex {
    display: flex;
    flex-direction: row;
  }

  @media only screen and (max-width: 796px) {
    .aff + div {
      height: 500px !important;
    }
    .tracker-flex {
      flex-direction: column-reverse;
    }
    .list {
      width: 100%;
    }
  }


  .dropdown {
    opacity: 0;
    position:absolute;
    top:    50px;
    left: 20px;
    border-radius: 7px;
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.dropdown li {
  padding: 20px;
  transition: filter .5s ease;
  background: rgb(34, 37, 41);
  border-radius: 7px;
  margin: 10px;
  cursor: pointer;
}

.dropdown li:hover {
  padding: 20px;
  filter: brightness(1.5);

}

.nav-item .dropdown {
   transition: all .3s ease-in-out;
}

.nav-item:hover .dropdown  {
    opacity: 1;
    background:rgb(34, 37, 41);
}