html {
  height: 100vh !important;
  width: 100vw !important;
}


body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100% !important;
    width: 100% !important;
  }

  :root {
    --main-bg-color: rgb(34,37,41)
  }

  ::-webkit-scrollbar {
    background-color: var( --main-bg-color);
  }

  
  ::-webkit-scrollbar-thumb {
    background: var(--main-bg-color);
  }
  
  ::-webkit-scrollbar-corner {
    background: var(--main-bg-color);
  }

  .mapboxgl-popup {
      z-index: 999;
  }
  .mapboxgl-marker  {
    z-index: 0;
  }

  .leaflet-container {
    height: 100vh;
    width: 100%;
  }

  .aff + div {
    width: 100% !important;
  }

  .LOL {
    width: 100%;
  }

  .list {
    height: calc(100vh - 15px);
    display: flex;
    flex-direction:column;
    background: rgb(34,37,41);
    align-self: end;
  }

  .tracker-flex {
    display: flex;
    flex-direction: row;
  }

  @media only screen and (max-width: 796px) {
    .aff + div {
      height: 500px !important;
    }
    .tracker-flex {
      flex-direction: column-reverse;
    }
    .list {
      width: 100%;
    }
  }

  .__next {
    height: 100vh !important;
  }